/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #ffffff;
}

h1, h2, h3 {
    color: #f8f8f8;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilos del encabezado */
header {
    background: #007bff;
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    margin: 15px 0;
}

nav a {
    margin: 0 15px;
    font-weight: bold;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos del main */
main {
    padding: 20px;
}

.computers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: black;
}

.computer {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}

.computer img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo específico para los nombres de los productos */
.computer h3, h2 {
    color: black; /* Cambia el color del texto a negro */
}


/* Estilos del pie de página */
footer {
    background: #333333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    text-align: right;
}

/* Estilos del logo fijo */
.fixed-logo {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Corregido de "rigth" a "right" */
    width: 50px;
    height: 50px;
}

/* Estilos del formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}
